<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Share movie recommendations with friends">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yonsel</title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Yonsel">
  <meta name="theme-color" content="#303F9F">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Yonsel">
  <meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">

  <!-- Tile icon for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">
  <meta name="msapplication-navbutton-color" content="#303F9F">

  <!-- Material Design Lite -->
  <!-- Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-amber.min.css">

  <!-- App Styling -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="styles/main.css">

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
  <script src="firebase/firebase-config.js"></script>

  <!-- VueJS -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <!-- Material Design -->
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <!-- Local -->
  <script src="scripts/constants.js"></script>
  <script src="scripts/utilities.js"></script>
</head>
<body>

<div id="main-layout" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

 <!-- Header -->
  <header class="mdl-layout__header mdl-color-text--white">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid grid-primary">
      <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <h3><i class="material-icons md-36 md-light">local_movies</i> Yonsel</h3>
      </div>
      <div id="user-container">
        <div hidden id="user-pic"></div>
        <div hidden id="user-name"></div>
        <button hidden id="sign-out" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
          Sign-out
        </button>
        <button hidden id="sign-in" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
          <i class="material-icons md-36 md-light">account_circle</i>Sign-in with Google
        </button>
      </div>
    </div>
  </header>
  <!-- /Header -->

 <!-- Main -->
  <main class="mdl-layout__content">
    <div class="mdl-grid grid-primary">

      <!-- Center Container -->
      <div id="center-container" class="primary-container mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-layout__header">
           <div class="mdl-layout__header-row">      
              <span class="mdl-layout-title">Categories</span>          
           </div>       
        </div>     

        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-cell mdl-cell--12-col"> 
          <div class="mdl-tabs__tab-bar">
             <a id="movies-tab" href="#movies-panel" class="mdl-tabs__tab is-active" v-on:click="setTabState('movie')">Movies</a>
             <a id="tvshows-tab" href="#shows-panel" class="mdl-tabs__tab" v-on:click="setTabState('tvshow')">TV sShows</a>
             <a id="web-tab" href="#web-panel" class="mdl-tabs__tab" v-on:click="setTabState('web')">Web Stuff</a>
             <a id="apps-tab" href="#apps-panel" class="mdl-tabs__tab" v-on:click="setTabState('app')">Apps</a>
          </div>
          <div class="mdl-tabs__panel center-panel is-active" id="movies-panel">
            <ul>
              <yonsel-item class="yonsel-entry" v-for="movie in movies" v-bind:item="movie" v-bind:id="movie.key">
              </yonsel-item>
            </ul>
          </div>
          <div class="mdl-tabs__panel center-panel" id="shows-panel">
            <ul>
              <yonsel-item class="yonsel-entry" v-for="tvshow in tvshows" v-bind:item="tvshow" v-bind:id="tvshow.key">
              </yonsel-item>
            </ul>
          </div>
          <div class="mdl-tabs__panel center-panel" id="web-panel">
            <ul>
              <yonsel-item class="yonsel-entry" v-for="web in webstuff" v-bind:item="web" v-bind:id="web.key">
              </yonsel-item>
            </ul>
          </div>
          <div class="mdl-tabs__panel center-panel" id="apps-panel">
            <ul>
              <yonsel-item class="yonsel-entry" v-for="app in apps" v-bind:item="app" v-bind:id="app.key">
              </yonsel-item>
            </ul>
          </div>
        </div>

          <div class="mdl-cell mdl-cell--12-col mdl-card__actions mdl-card--border">
            <form id="content-entry-form" action="#">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="content-entry" autocomplete="off">
                <label class="mdl-textfield__label" for="content-entry">Entry...</label>
              </div>
              <button id="submit-entry" disabled type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Send
              </button>
            </form>
          </div>

      </div>
      <!-- /Center Container -->

      <!-- Bottom Container -->
      <div id="bottom-container" class="mdl-grid mdl-cell mdl-cell--12-col">

        <!-- Messages Container -->
        <div id="messages-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
          <div class="mdl-card__title  mdl-shadow--3dp">
            <h3 class="mdl-card__title-text">Chat</h3>
          </div>
          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <div id="messages" class="card-content">

              <div class="data-container" v-for="chatMsg in chatMessages" v-bind:id="chatMsg.key">
                <div class="spacing">
                  <div  class="avatar"
                        :style="{ backgroundImage: chatMsg.picUrl }"></div>
                </div>
                <div class="message">{{chatMsg.text}}</div>
                <!-- <div class="name">{{chatMsg.name}}</div> -->
              </div>

            </div>
          </div>

          <div class="mdl-card__actions mdl-card--border">
            <form id="message-form" action="#">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="message" v-model="chatMsg" autocomplete="off">
                <label class="mdl-textfield__label" for="message">Message...</label>
              </div>
              <button id="submit" disabled type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Send
              </button>
            </form>
            <div class="mdl-layout-spacer"></div>
            <form id="image-form" action="#">
              <input id="mediaCapture" type="file" accept="image/*,capture=camera">
              <button disabled='true' id="submitImage" title="Add an image" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--amber-400 mdl-color-text--white">
                <i class="material-icons md-36 md-light md-inactive">image</i>
              </button>
            </form>
          </div>

        </div>
        <!-- /Messages Container -->

        <!-- Logger Container -->
        <div  id="logger-card"
              class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
          <div class="mdl-card__title  mdl-shadow--2dp">
            <h3 class="mdl-card__title-text ">Logger</h3>
          </div>
          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <div id="logger" class="card-content">

              <div class="data-container" v-for="logEntry in logEntries" v-bind:id="logEntry.key">
                <div class="spacing">
                  <div  class="avatar"
                        :style="{ backgroundImage: logEntry.picUrl }"></div>
                </div>
                <div class="message">{{logEntry.action}}</div>
                <div class="name">{{logEntry.datetime}}</div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- /Logger Container -->

        <!-- Snackbar -->
        <div id="must-signin-snackbar" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
        <!-- /Snackbar -->
      </div>
      <!-- /Bottom Container -->

    </div>
  </main>
  <!-- /Main -->

</div>

<!-- Scripts -->

  <!-- Local Scripts -->
  <script src="scripts/main.js"></script>

<!-- /Scripts -->

</body>
</html>
