/* ------------------
  Eric Meyer's CSS Reset 2.0
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
  ------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------
    Basic Structure
   ------------------
*/

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

main {
  height: 100%;
}

/* -----------------
    Layout
   ------------------
*/

.primary-container {
  align-items: center;
}
  .primary-container ul {
    list-style: none;
  }

#bottom-container {
  /* height: calc(100% - 150px); */
  height: 500px;
  margin-top: 20px;
}

.grid-primary {
  max-width: 1024px;
  margin: auto;
}

.mdl-card {
  height: 100%;
  min-height: 0;
  background: linear-gradient(white, #ededed);
  justify-content: space-between;
}


/* -----------------
    Material Design Icons
   ------------------
*/
.material-icons {
  padding: 0;
}

  /* Sizes for Material Icons */
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-30 { font-size: 30px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }

  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

  /* Custom Colors */
  .material-icons.orange600 { color: #FB8C00; }
  .material-icons.md-fire {
    color: rgb(245, 130, 12);
}

/* -----------------
    Header
   ------------------
*/
.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}
  .mdl-layout__header-row span {
    margin-left: 10px;
  }
  .mdl-layout__header-row .material-icons {
  position: relative;
  top: 6px;
  }

#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 24px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}
  #user-container #user-pic {
    top: -3px;
    position: relative;
    display: inline-block;
    background-image: url('/images/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 20px;
  }
  #user-container #user-name {
    font-size: 16px;
    line-height: 36px;
    padding-right: 10px;
    padding-left: 20px;
  }

/* -----------------
    Content (movies, etc)
   ------------------
*/
.yonsel-entry {

}

/* -----------------
    Cards
   ------------------
*/
.mdl-card__title {
  height: 50px;
  margin: 0;
  padding: 0;
  font-size: 100%;
  margin: 10px;
  padding: 10px;
}

.mdl-card__supporting-text {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.card-content {
  overflow-y: scroll;
  margin-bottom: 10px;
  height: 100%;
  font-size: 80%;
}

/* -----------------
    Data Entry: Chat Message / Log Entry / Content Entry
   ------------------
*/
.data-entry {
  display: block;
  margin-top: 10px;
  border-top: 2px solid #f3f3f3;
  padding-top: 10px;
  opacity: 1;
  margin-left: 6px;
  transition: opacity 1s ease-in-out;
}
  .data-entry:first-of-type {
    border-top-width: 0;
  }
  .data-entry .fire-button {
    margin: 0 0 0 6px;
    padding: 0;
  }
  .data-entry .avatar {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    border-radius: 20px;
  }
  .data-entry .spacing {
    display: table-cell;
    vertical-align: top;
  }
  .data-entry .message {
    display: table-cell;
    width: calc(100% - 40px);
    padding: 5px 0 5px 10px;
  }
  .data-entry .name {
    display: inline-block;
    width: 100%;
    padding-left: 40px;
    color: #bbb;
    font-style: italic;
    font-size: 12px;
    box-sizing: border-box;
  }

.message img {
  max-width: 300px;
  max-height: 200px;
}

/* -----------------
    Chat Forms
   ------------------
*/
#message-form {
  display: flex;
  flex-direction: row;
  width: calc(100% - 48px);
  float: left;
}
  #message-form .mdl-textfield {
    width: calc(100% - 100px);
  }
  #message-form .mdl-textfield__label:after {
    background-color: #0288D1;
  }
  #message-form .mdl-textfield-floating-label.is-focused .mdl-textfield__label {
    color: #0288D1;
  }

#image-form {
  display: flex;
  flex-direction: row;
  width: 48px;
  float: right;
}
  #image-form #submitImage {
    width: auto;
    padding: 0 6px 0 1px;
    min-width: 0;
  }
    #image-form #submitImage .material-icons {
      top: -1px;
    }

#message-form button, #image-form button {
  width: 100px;
  margin: 15px 0 0 10px;
}
 #image-form #mediaCapture {
    display: none;
  }

/* -----------------
    Media: Small
   ------------------
*/
@media screen and (max-width: 610px) {
  header {
    height: 113px;
    padding-bottom: 80px !important;
  }
  #user-container {
    top: 72px;
    background-color: rgb(3,155,229);
    height: 38px;
    padding-top: 3px;
    padding-right: 2px;
  }
  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}